header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: white;
}

header img {
  margin-right: 20px; /* Add some space between the logo and text */
}

h1 {
  margin: 0; /* Remove default margin */
  flex-grow: 0; /* Allow the text to expand and take up remaining space */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.logoutImage {
  position: absolute;
  top: 10px; /* Adjust the top value to control the vertical position */
  right: 10px; /* Adjust the right value to control the horizontal position */
  width: 50px;
  height: 50px;
}

.back-button {
  padding: 10px;
}

/* Container styles */
.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* Card styles */
.card {
  width: 200px;
  height: 350px;
  margin: 40px; /* Adjust margin for spacing */
  border: 3px solid #3498db;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid #3498db;
  border-bottom-style: groove;
}

.card p {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #3498db;
}

/* Back button styles */
.back-button {
  padding: 10px;
}

.back-button img {
  width: 60px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .container {
      flex-direction: column; /* Change to a column layout on small screens */
      align-items: center; 
  }

  .card {
      width: 80%;
      margin: 10px 0; /* Adjust margin for spacing */
  }
}
