header {
    text-align: center;
    padding: 10px;
    color: white;
    overflow: hidden;
}

.back-button{
  position:absolute;
  bottom: 89%;
  left: 10px;
  margin-top: 100px;
  
}

img {
    position: absolute; /* Set image to be positioned absolutely */
    top: 10px; /* Move image down by 50px from the top */
    left: 10px; /* Move image right by 20px from the left */
    overflow: hidden;
  }
  

  body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8c7ce6;
    overflow: hidden;
  }
  
  .type{
    position:absolute;
    top: 70px;
    left:30px;
    color: #ffffff;
    text-shadow: 2px 2px 0 #000000;
    margin-left: 75px;
  }
  .quiz-container1 {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    position: fixed;
    width: 100%;
    top: 20%;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Reset some default styles for better button appearance */
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
  overflow: hidden;
  
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh; /* Center the buttons vertically */
}

.answer-button {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #19567e;
  padding: 20px 100px;
  border-radius: 20px;
  font-size: 30px;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: background-color 0.2s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.answer-button:hover, .answer-button:focus, .answer-button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale (1.1);
}
  
  
  .submit-button {
    position: absolute;
    width: 200px;
    height: 70px;
    top: 600px;
    right:970px;
    margin-top: 300px;
    padding: 1px;
    background-color: #1100ff;
    color: #fff;
    font-size:30px;
    font-weight:bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  
  .submit-button:hover, .submit-button:focus, .submit-button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale (1.1);
  }

  .correct-selected {
    background-color: green;
}

/* Add a new CSS class to style the selected wrong button */
.wrong-selected {
    background-color: red;
}

