/* Desktop styles */

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: rgb(255, 254, 254);
}

header img {
  margin-right: 20px;
}

h1 {
  margin: 0;
  flex-grow: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow: hidden;
}

.logoutImage {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 520px; /* Adjust as needed */
}

.card1,
.card2,
.card3 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: black;
  margin: 0px; /* Add some spacing between cards */
  text-align: center; /* Center text */
  margin-top: -100px;
}

.card1 {
  width: 960px;
  height: 471px;
  background-color: #51ffff;
}

.card2 {
  background: #ff3e7f;
  width: 500px;
}

.card3 {
  width: 960px;
  background: #ffc219;
}

.card2 p {
  text-align: justify;
  margin: 10px 0; /* Add spacing between paragraphs */
  font-size: 25px;
}

.card3 p {
  font-size: 30px;
  padding: 50px;
}

.card1 p {
  font-size: 30px;
  padding: 50px;
}

.card1 h2,
.card3 h2 {
  font-size: 50px;
}

.card2 h2 {
  font-size: 40px;
  margin-right: 21px;
}

.card1 a,
.card3 a {
  background-color: rgb(8, 10, 128);
  color: white;
  padding: 10px 20px; /* Adjust padding for buttons */
  border-radius: 10px;
  height: 27px;
  width: 100px;
  display: block;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  margin: 20px 0; /* Add spacing between buttons */
  margin-left: 315px;
  margin-top: 20px;
}

.card2 a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 10rem;
  margin-top: 100px;
  margin-left: 30px;
}

.profile-pic-div {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(0, 0, 0);
}

#photo {
  height: 100%;
  width: 100%;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #007bff;
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.centered-button {
  display: none;
  margin: 0 auto;
  background-color: #007bff; /* Background color */
  color: wheat; /* Text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.centered-button:hover {
  background-color: #0056b3; /* Hover color */
}

.welcome-section {
  margin-top: -130px; /* Adjust the value as needed to control the top margin */
  text-align: center;
}

/* Responsive styles */
@media only screen and (max-width:1037px) {

  header img {
    margin-right: 20px; /* Add some space between the logo and text */
    width: 200px;
}

.logoutImage {
    position: absolute;
    top: 10px; /* Adjust the top value to control the vertical position */
    right: 10px; /* Adjust the right value to control the horizontal position */
    width: 30px;
    height: 30px;
}
  .container {
    display: flex;
    flex-direction: column; /* Change to column to stack cards vertically */
    align-items: center; /* Center cards horizontally */
    position: relative;
    top: 180px; /* Adjust as needed */
  }
  
  .card1,
  .card2,
  .card3 {
    font-family: Arial, sans-serif;
    font-size: 20px; /* Adjust font size for smaller cards */
    color: black;
    margin: 0px 0; /* Add some spacing between cards */
    text-align: center; /* Center text */
  
  }
  
  .card1 {
    width: 430px; /* Adjust width for smaller card */
    height: 235px; /* Adjust height for smaller card */
    background-color: #51ffff;
  }
  
  .card2 {
    background: #ff3e7f;
    width: 430px; /* Adjust width for smaller card */
    height: 235px;
  }
  
  .card3 {
    width: 430px; /* Adjust width for smaller card */
    background: #ffc219;
  }
  
  .card2 p {
    text-align: justify;
    margin: 10px 0; /* Add spacing between paragraphs */
    font-size: 15px; /* Adjust font size for smaller text */
  }
  
  .card3 p,
  .card1 p {
    font-size: 20px; /* Adjust font size for smaller text */
    padding: 20px; /* Adjust padding for smaller cards */
  }
  
  .card1 h2,
  .card3 h2 {
    font-size: 30px; /* Adjust font size for smaller heading */
  }
  
  .card2 h2 {
    font-size: 25px; /* Adjust font size for smaller heading */
    margin-right: 10px; /* Adjust margin for smaller heading */
  }
  
  .card1 a,
  .card3 a {
    background-color: rgb(8, 10, 128);
    color: white;
    padding: 10px 10px; /* Adjust padding for smaller buttons */
    border-radius: 5px; /* Adjust border-radius for smaller buttons */
    height: 18px; /* Adjust height for smaller buttons */
    width: 80px; /* Adjust width for smaller buttons */
    display: block;
    text-align: center;
    font-size: 15px; /* Adjust font size for smaller text */
    text-decoration: none;
    margin: 10px 0; /* Add spacing between buttons */
    margin-left: 165px;
    margin-top: 20px;
  }
  
  .card2 a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 5rem; /* Adjust font size for smaller text */
    margin-top: 50px; /* Adjust margin for smaller text */
    margin-left: 15px; /* Adjust margin for smaller text */
  }

  .profile-pic-div {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(0, 0, 0);
  }
  
}
