/* Desktop styles */

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: rgb(255, 254, 254);
}

header img {
  margin-right: 20px;
}

.logoutImage {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

h1 {
  margin: 0;
  flex-grow: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #edf2f7;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #edf2f7;
}

.shape {
  position: absolute;
  animation: moveShape 10s infinite linear;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffcc00;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ff6699;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #66ff99;
  border-radius: 50%;
}

@keyframes moveShape {
  0% {
    transform: translate(-50%, -50%) rotate(0);
    opacity: 0;
  }
  100% {
    transform: translate(calc(100vw - 50%), calc(100vh - 50%)) rotate(1080deg);
    opacity: 1;
  }
}





.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 520px; /* Adjust as needed */
  
}



  .button-3d {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s, transform 0.3s;
  bottom: 100px;
  right: 15px;
  }



  .button-3d::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .button-3d::after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .button-3d:hover::before,
  .button-3d:hover::after {
    transform: scale(5); /* Expand to cover the button area on hover */
    opacity: 1;
  }

  .button-3d:hover {
    color: #fff; /* Change icon color on hover */
    transform: translateY(-5px); /* Move button up slightly on hover */
  }

  .button-3d img {
    width: 70%; /* Adjust the image size */
    height: auto; /* Maintain aspect ratio */
  }


.card1,
.card2,
.card3 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: black;
  margin: 0px; /* Add some spacing between cards */
  text-align: center; /* Center text */
  margin-top: -100px;
}

.card1 {
  width: 600px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: -moz-linear-gradient(180deg, rgba(157, 0, 255, 0), rgba(81, 255, 255, 0.89));

  background-image: -webkit-linear-gradient(180deg, rgba(157, 0, 255, 0), rgba(81, 255, 255, 0.89));
  
  background-image: linear-gradient(180deg, rgba(157, 0, 255, 0), rgba(81, 255, 255, 0.89));
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative; /* Add this line */
 
}

.card1 a {
  
  left: 50%; /* Place the button in the horizontal center */
  transform: translateX(-96%); /* Center the button using a transform */
  background-color: #fff;
  color: #2fa6de;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}

.card2 {
  background-image: -moz-linear-gradient(180deg, rgba(157, 0, 255, 0), rgb(255, 62, 127));

  background-image: -webkit-linear-gradient(180deg, rgba(157, 0, 255, 0), rgb(255, 62, 127));
  
  background-image: linear-gradient(180deg, rgba(157, 0, 255, 0), rgb(255, 62, 127));  
  width: 500px;
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  height: 400px;
  margin-left: 20px;  
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  
}

.card3 {
  
  width: 600px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: -moz-linear-gradient(180deg, rgba(157, 0, 255, 0), rgb(255, 194, 25));

  background-image: -webkit-linear-gradient(180deg, rgba(157, 0, 255, 0), rgb(255, 194, 25));
  
  background-image: linear-gradient(180deg, rgba(157, 0, 255, 0), rgb(255, 194, 25));
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  
}

.card3 a {
  
  right: 50%; /* Place the button in the horizontal center */
  transform: translateX(-94%); /* Center the button using a transform */
  background-color: #fff;
  color: #2fa6de;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}



.card2 p {
  text-align: justify;
  margin: 10px 0; /* Add spacing between paragraphs */
  font-size: 25px;
}

.card3 p {
  font-size: 30px;
  padding: 50px;
}

.card1 p {
  font-size: 30px;
  padding: 50px;
}

.card1 h2,
.card3 h2 {
  font-size: 50px;
}

.card2 h2 {
  font-size: 40px;
  margin-right: 21px;
}

.card1 a,
.card3 a {
  background-color: rgb(8, 10, 128);
  color: white;
  padding: 10px 20px; /* Adjust padding for buttons */
  border-radius: 10px;
  height: 27px;
  width: 100px;
  display: block;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  margin: 20px 0; /* Add spacing between buttons */
  margin-left: 315px;
  margin-top: 20px;
}

.card2 a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 10rem;
  margin-top: 100px;
  margin-left: 30px;
}

.profile-pic-div {
  height: 160px;
  width: 160px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(0, 0, 0);
}

#photo {
  height: 100%;
  width: 100%;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #007bff;
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.centered-button {
  display: none;
  margin: -102px auto 100px; /* Adjust margin-top to move the button up */
  background-color: #007bff; /* Background color */
  color: wheat; /* Text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.centered-button:hover {
  background-color: #0056b3; /* Hover color */
}

.user-info-container {
  height: 110px;
  max-width: 500px;
  background-image: -moz-linear-gradient(45deg, rgba(140, 255, 0, 0.3), rgba(8, 0, 255, 0.06));

background-image: -webkit-linear-gradient(45deg, rgba(140, 255, 0, 0.3), rgba(8, 0, 255, 0.06));

background-image: linear-gradient(45deg, rgba(140, 255, 0, 0.3), rgba(8, 0, 255, 0.06));
  margin: 50px auto;
  padding: 20px;
  border-radius: 100px;
}

.user-info-container h1 {
  font-size: 25px;
  color: #333;
  margin-bottom: 20px;
}

.user-info-container .user-details p {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}
.welcome-section {
  margin-top: -130px; /* Adjust the value as needed to control the top margin */
  text-align: center;
}

#notification-icon {
  position: absolute;
  top: 10px;
  right: 90px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px; /* Adjust margin as needed */

}

#popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 999;
}

#close-popup {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Responsive styles */
@media only screen and (max-width:1037px) {

  header img {
    margin-right: 20px; /* Add some space between the logo and text */
    width: 200px;
}

.logoutImage {
    position: absolute;
    top: 10px; /* Adjust the top value to control the vertical position */
    right: 10px; /* Adjust the right value to control the horizontal position */
    width: 30px;
    height: 30px;
}

  

 
  
}
