header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: white;
}

header img {
  margin-right: 20px; /* Add some space between the logo and text */
}

h1 {
  margin: 0; /* Remove default margin */
  flex-grow: 0; /* Allow the text to expand and take up remaining space */
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.logoutImage {
  position: absolute;
  top: 10px; /* Adjust the top value to control the vertical position */
  right: 10px; /* Adjust the right value to control the horizontal position */
  width: 50px;
  height: 50px;
}

.back-button{
  padding: 10px;
}

.image1{
  border-style: solid;
  border-color: #000000;
  border-width: 4px;
  position: absolute;
  height: 40%;
  width: 30%;
  right: 55%;
  top: 14%;
}

.image2{
  border-style: solid;
  border-color: #000000;
  border-width: 4px;
  position: absolute;
  height: 40%;
  width: 30%;
  left: 55%;
  top: 14%;
}
.image3{
  border-style: solid;
  border-color: #000000;
  border-width: 4px;
  position: absolute;
  height: 40%;
  width: 30%;
  bottom: 3%;
  right: 55%;
}

.image4{
  border-style: solid;
  border-color: #000000;
  border-width: 4px;
  position: absolute;
  height: 40%;
  width: 30%;
  bottom: 3%;
  left: 55%;
}
 